body {
    background-repeat:no-repeat;
    background-size:2000px;
    background-image: url("./images/Konachan.com\ -\ 118886\ sample.jpg");
    font-family: 'Calistoga', cursive;
}

.container, .container2 {
    border-radius: 10px;
}

#container {
    background-color:white;
    margin-top:130px;
    height:350px;
    text-align: center;
}

.technical {
    font-size: 25px;
}

#containerSkills {
    background-color:white;
    margin-top:130px;
    height:350px;
    text-align: center;
}
.js {
    margin-top: 10px;
    height: 90px;
    width: 77px;
}
.vector {
    margin-top: 10px;
    height: 90px;
    width: 70px;
}
.vectorReact {
    margin-top: 25px;
    height: 75px;
    width: 85px;
}

.vectorNode {
    margin-top: 30px;
    height: 60px;
    width: 95px;
}

.vectorSQL {
    margin-top: 10px;
    height: 95px;
    width: 85px;
}

.indexPage {
    margin:auto;
}

#container2 {
    height: 720px;
    background-color: white;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left:25px;
}

h1 {
    margin: 15px;
    font-family: 'Kumar One', cursive;
}

.pic {
    height:200px;
    width:200px;
}

.pics {
    height:200px;
    width:200px;
}

#text {
    font-size:23px;
}

.container2 {
    background-color:white;
    margin-top:50px;
    height:550px;
    
    
}
.row3 {
    margin-top:20px;
}
#will {
    text-decoration: none;
    color:black;
}

.contact {
    font-size: 20px;
}


a:link, a:visited {
    text-decoration: underline;
    color: black;

}
.dropdown-item:link {
    text-decoration: none;
}
.navbar {
    height:50px;
    background-color:white;
    width:100%;
    left:0;
    right:0;
}
.top {
    background-color:white;
}
.lirvin:link, .lirvin:visited {
    color:black;
    text-decoration: none;
}
@media only screen and (max-width: 450px) {
#container{
        width:100%;
        height:610px;
        margin-bottom:20px;
        margin-top:40px;
        
    }
    .vector {
        margin-top:18px;
    }
#containerSkills {
    margin-top: 0px;
    margin-bottom: 25px;
    height: 650px;
    width: 63%;
}
.pic {
    width: 200px;
    height: 200px;
}
.pictureDiv {
    margin-bottom: 10px;
}
h1 {
        font-size:30px;
        margin-left:30px;
    }
.contact {
        font-size:15px;
        text-decoration: none;
    }
.footer {
        display:none;
    }
.nav-link {
        font-size:10px;
    }
#text {
        font-size:15px;
    }
#will {
        font-size:30px;
    }
.pic {
        margin-left: 30px
    }
.navbar {
        height:135px;
    }
#container2 {
        width:80%;
        height:1200px;
        margin-left:35px;
        padding-left:65px;
        margin-top:20px;
        margin-bottom:20px;
        }
body {
        background-size: 2500px;
    }
  }